<div class="container">
  <ul class="breadcrumb-arrow">
    <li>
      <a routerLink="/">الرئيسية</a>
    </li>
    <li>
      <a routerLink="#">المسلسلات</a>
    </li>
  </ul>
</div>

<!-- Last All Series   !-->
<div class="container" *ngFor="let category of categories">
  <div class="promo-group-header">
    <a class="btn btn-default btn-xs" [routerLink]="['/', category.slug]">تصفح الكل</a>
    <h3 class="promo-group-header__title">{{category.name}}</h3>
  </div>
  <ul id="boxoffice" class="iconB">
    <li *ngFor="let serie of category.series">
      <div class="image">
        <a [routerLink]="['/', category.slug, serie.slug]" title="{{serie.title}}">
          <span class="tut">
            <img src="{{serie.poster}}" class="er" alt="{{serie.title}} مشاهدة" title="{{serie.title}}"> </span>
        </a>
        <div class="wrt">
          <p>{{serie.title}}</p>
        </div>
      </div>
    </li>
  </ul>
</div>
