<div class="container">
  <ul class="breadcrumb-arrow">
    <li>
      <a routerLink="/">الرئيسية</a>
    </li>
    <li>
      <a routerLink="/">المسلسلات</a>
    </li>
  </ul>
</div>

<!-- Last All Series !-->
<div class="container">
  <div class="promo-group-header">
    <h3 class="promo-group-header__title">المسلسلات الاكثر مشاهدة</h3>
  </div>
</div>
<div class="container">
  <ul id="boxoffice" class="iconB">
    <li *ngFor="let serie of series | paginate: { id: 'server', itemsPerPage: 10, currentPage: p, totalItems: total }">
      <div class="image">
        <a [routerLink]="['/مسلسل', serie.slug]" title="{{serie.title}}">
          <span class="tut">
            <img src="{{serie.poster}}" class="er" alt="{{serie.title}} مشاهدة" title="{{serie.title}}"> </span>
        </a>
        <div class="wrt">
          <p>{{serie.title}}</p>
        </div>
      </div>
    </li>
  </ul>
  <div class="has-text-centered">
    <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
    <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
  </div>
</div>
