<div class="container">
  <ul class="breadcrumb-arrow">
    <li>
      <a routerLink="/">الرئيسية</a>
    </li>
    <li>
      <a routerLink="/مسلسلات">المسلسلات</a>
    </li>
    <li>
      <a routerLink="#">{{ categorie.name }}</a>
    </li>
  </ul>
</div>

<!-- Last All Series   !-->
<div class="container">
  <div class="promo-group-header">
    <h3 class="promo-group-header__title">{{ categorie.name }}</h3>
  </div>
  <ul id="boxoffice" class="iconB">
    <li
      *ngFor="
        let serie of (series
          | paginate
            : {
                id: 'server',
                itemsPerPage: 30,
                currentPage: currentpage,
                totalItems: total
              })
      "
    >
      <div class="image">
        <a
          [routerLink]="['/', categorie.slug, serie.slug]"
          title="{{ serie.title }}"
        >
          <span class="tut">
            <img
              src="{{ serie.poster }}"
              class="er"
              alt="{{ serie.title }} مشاهدة"
              title="{{ serie.title }}"
            />
          </span>
        </a>
        <div class="wrt">
          <p>{{ serie.title }}</p>
        </div>
      </div>
    </li>
  </ul>
</div>

<div class="container">
  <div class="has-text-centered">
    <pagination-template
      #p="paginationApi"
      id="server"
      (pageChange)="getPage($event, categorie.catId)"
      previousLabel="labels.previousLabel"
      nextLabel="labels.nextLabel"
    >
      <ul class="custom-pagination">
        <li class="pagination-previous" [class.disabled]="p.isFirstPage()">
          <a *ngIf="!p.isFirstPage()" (click)="p.previous()"> </a>
        </li>

        <li
          *ngFor="let page of p.pages"
          [class.current]="p.getCurrent() === page.value"
        >
          <a
            (click)="p.setCurrent(page.value)"
            *ngIf="p.getCurrent() !== page.value"
          >
            <span>{{ page.label }}</span>
          </a>
          <div *ngIf="p.getCurrent() === page.value">
            <span>{{ page.label }}</span>
          </div>
        </li>

        <li class="pagination-next" [class.disabled]="p.isLastPage()">
          <a *ngIf="!p.isLastPage()" (click)="p.next()"> </a>
        </li>
      </ul>
    </pagination-template>
  </div>
</div>
