<div class="container">
  <ul class="breadcrumb-arrow">
    <li>
      <a routerLink="/">الرئيسية</a>
    </li>
    <li>
      <a routerLink="/افلام">الافلام</a>
    </li>
    <li>
      <a routerLink="#">تصبح علي خير</a>
    </li>
  </ul>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-3" style="float: left;">
      <div class="list-group">
        <div class="list-group-item bg-dark text-white">
          <span class="glyphicon glyphicon-stats mr-2"></span> افلام ذات صلة:
        </div>
        <a
          [routerLink]="['/', '/فيلم', 'ماوي-و-الحب']"
          class="list-group-item list-group-item-action"
          title="Preuve lappui"
        >
          <i class="glyphicon glyphicon-film mr-2" aria-hidden="true"></i>ماوي و
          الحب</a
        >
      </div>
    </div>
    <div class="col-sm-9">
      <div class="card text-white bg-dark">
        <div class="card-header">
          <h1 class="mb-0">شاهد فيلم تصبح علي خير اونلاين كامل</h1>
        </div>
        <div class="card-body text-dark bg-white">
          <div class="pt-2">
            <div class="row">
              <div class="col-sm-3">
                <img
                  class="w-100 pb-2"
                  src="assets/imgs/poster.jpg"
                  alt="grey's anatomy"
                  title="Grey's Anatomy Streaming"
                />
                <button class="btn btn-block mb-2 btn-seaseon">
                  <i class="glyphicon glyphicon-download-alt"></i> الفيلم كامل
                </button>
              </div>
              <div class="col-sm-9">
                <h2 class="text-center">معلومات حول الفيلم :</h2>
                <div>
                  <p class="mb-1">
                    <strong>النوع : </strong>
                    <a class="badge badge-info mr-1">اكشن</a>
                    <a class="badge badge-info mr-1">مغامرة</a>
                  </p>
                  <p class="mb-1"><strong>السنة : </strong> 2005</p>
                  <p class="mb-1">
                    <strong>الممثلين : </strong>خالد ارغنش, مريم أوزيرلي, نور
                    فتاح اوغلو, اوكان يالبيك
                  </p>
                  <p class="mb-1"><strong>عدد المشاهدات : </strong>99999</p>
                  <p class="mb-1"><strong>التقييم : </strong>8.07</p>
                </div>
                <h3 class="text-center">ملخص الفيلم :</h3>
                <p>
                  يروي المسلسل التاريخي "حريم السلطان" في تصوير درامي قصة حياة
                  السلطان سليمان القانوني الذي حكم الدولة العثمانية في فترتها
                  الذهبية من سنة 1520 ميلادية وحتى وفاته سنة 1566 ميلادية .
                  ويعتبر أهم حاكم في تاريخ الدولة العثمانية. تدور أحداث المسلسل
                  التاريخي "حريم السلطان" خلال فترة القرن السادس عشر، ويستعرض
                  الأحداث التي تجري في مقر حريم السلطان المعروف (بالحرملك
                  السلطاني).
                </p>
                <div class="row"></div>
                <div
                  class="position-relative mb-2 watch"
                  data-id="1805111"
                  id="player"
                >
                  <div class="loader2"></div>
                  <div class="bwac-btn">
                    <i class="glyphicon glyphicon-play"></i>
                  </div>
                </div>
                <h4>
                  <i class="glyphicon glyphicon-play"></i> روابط المشاهدة :
                </h4>
                <table
                  class="table table-bordered table-sm table-hover table-striped"
                >
                  <tbody>
                    <tr data-id="1805111">
                      <td class="font-weight-bold" style="width: 1%" nowrap="">
                        <i class="glyphicon glyphicon-play-circle"></i> رابط
                        سريع :
                      </td>
                      <td class="font-weight-bold">
                        <img
                          src="https://tv.seriestreaming.site/hosts/upvid.co.png"
                          alt="upvid.co"
                          class="mr-1"
                          width="16"
                          height="16"
                        />upvid.co
                      </td>
                      <td style="width: 1%">
                        <button
                          class="btn btn-sm watch btn-seaseon"
                          data-id="1805111"
                        >
                          <i class="glyphicon glyphicon-play mr-2"></i>شاهد
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <p>
                  <i class="glyphicon glyphicon-tags mr-2"></i>مقالات بحاجة
                  لتحرير حبكة القصةسليمان القانونيمسلسلات تلفزيونية إنتاج
                  2010مسلسلات تلفزيونية تركية انتهت في 2014مسلسلات تلفزيونية
                  تركية انتهت في عقد 2010مسلسلات تلفزيونية تركية بدأ عرضها في
                  2011مسلسلات تلفزيونية تركية بدأ عرضها في عقد 2010مسلسلات
                  تلفزيونية تركية دبلجت للعربيةمسلسلات تلفزيونية تركية لسنة
                  2010مسلسلات تلفزيونية درامية تركيةمسلسلات تلفزيونية درامية
                  تركية في باكستانمسلسلات تلفزيونية عن الدولة العثمانيةمسلسلات
                  دراما متسلسلة, مسلسلات تلفزيونية تقع أحداثها في القرن
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
