<div class="container">
  <ul class="breadcrumb-arrow">
    <li>
      <a routerLink="/">الرئيسية</a>
    </li>
    <li>
      <a routerLink="/">الافلام</a>
    </li>
  </ul>
</div>

<!-- Last All Films !-->
<div class="container">
    <div class="promo-group-header">
      <h3 class="promo-group-header__title">الافلام الاكثر مشاهدة</h3>
    </div>
  </div>
  <div class="container">
    <ul id="boxoffice" class="iconB">
      <li>
        <div class="image">
            <a [routerLink]="['/فيلم', 'الاب-الروحى']">
                <span class="tut"> <img src="assets/imgs/poster.jpg" class="er" alt="film Wonder streaming" title="Wonder poster"> </span>
                <span class="h2">
                  <span class="VO"></span><span class="qalite">HD</span>
                </span>
            </a>
            <div class="wrt">
              <p>الاب الروحى</p>
            </div>
            <p class="thetype">
              <b style="color:orange;" class="glyphicon glyphicon-star"></b>
              <b style="color:orange;" class="glyphicon glyphicon-star"></b>
              <b style="color:orange;" class="glyphicon glyphicon-star"></b>
              <b style="color:orange;" class="glyphicon glyphicon-star"></b>
              <b style="color:orange;" class="glyphicon glyphicon-star"></b>
              <b style="color:orange;" class="glyphicon glyphicon-star"></b>
              <b style="color:orange;" class="glyphicon glyphicon-star"></b>
              <b style="color:orange;" class="glyphicon glyphicon-star"></b>
            </p>
        </div>
    </li>
    </ul>
  </div>