<div class="container">
  <ul class="breadcrumb-arrow">
    <li>
      <a routerLink="/">الرئيسية</a>
    </li>
    <li>
      <a routerLink="/">المسلسلات</a>
    </li>
  </ul>
</div>

<!-- Last All Series !-->
<div class="container">
    <div class="promo-group-header">
      <h3 class="promo-group-header__title">مسلسلات رمضان</h3>
    </div>
  </div>
  <div class="container">
    <ul id="boxoffice" class="iconB">
      <li >
        <div class="image">
            <a [routerLink]="['/مسلسل', 'البيت-الكبير']">
                <span class="tut"> <img src="assets/imgs/poster.jpg" class="er" alt="film Wonder streaming" title="Wonder poster"> </span>
            </a>
            <div class="wrt">
              <p>البيت الكبير</p>
            </div>
        </div>
    </li>
      
    </ul>
  </div>